<div class="card-body">
  <div class="card-body--description">
    <p>Description:</p>
    <p>{{ description }}</p>
    <!--
    <div *ngIf="item.showMoreOrLess">
      <div class="learnmore-holder" *ngIf="item.learnMore">
        <a href="#" data-id="{{ item.name }}" (click)="showMore($event)">Show More</a>
      </div>
      <div class="learnmore-holder" *ngIf="!item.learnMore">
        <a href="#" data-id="{{ item.name }}" (click)="showLess($event)">Show Less</a>
      </div>
    </div>
    -->
  </div>

  <!--
  <div class="card-body--url">
  <p>URL:</p>
  <p>{{ item.url }}</p>
  </div>
  -->
  <div class="card-body--tags">
    <p>Tags:</p>
    <p>
      <span class="badge badge-pill badge-primary" *ngFor="let tag of tags">
        {{ tag }}
      </span>
    </p>
  </div>
</div>
