<h4>Inputs</h4>

<!-- Create New Project -->
<form [formGroup]="functionFormGroup">
  <div class="form-group form-catalogue-function">
    <a (click)="excelSyncToggle()" class="btn-toggle form-control-plaintext noselect">
      <i
        class="far fa-fw fa-2x"
        [ngClass]="{
          'fa-toggle-on': excelSync,
          'fa-toggle-off': !excelSync
        }"
      >
      </i>
      <span *ngIf="excelSyncToggle">Excel Sync</span>
    </a>

    <a (click)="autoRunToggle()" class="btn-toggle form-control-plaintext noselect">
        <i
          class="far fa-fw fa-2x"
          [ngClass]="{
            'fa-toggle-off': !autoRun,
            'fa-toggle-on': autoRun
          }"
        >
        </i>
        <span *ngIf="autoRunToggle">Auto Run</span>
      </a>
  </div>

  <div class="form-groupings" *ngIf="functionHasInputs">
    <div class="form-group" *ngFor="let field of function.meta.inputs">
      <label for="{{ field.name }}">{{ field.name }}:</label>
      <div class="form-group--input" *ngIf="field.type === 'str'">
        <input type="text" formControlName="{{ field.name }}" name="{{ field.name }}" />
      </div>
    </div>
  </div>

  <button class="btn btn-primary"
    (click)="onSubmit()"
    ngbTooltip="Run"
    container="body"
    placement="bottom"
  >Run</button>
</form>
